# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\jdknew\bin\ChatTree_v5.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
